<!-- src/app/app.component.html -->
<div >
    <form (ngSubmit)="onAddItem(itemForm)" #itemForm="ngForm" class="form">
    <p-inputGroup class="inputGroup">
      <p-inputGroupAddon class="addOn">
        <i class="pi pi-pound"></i>
      </p-inputGroupAddon>
      <input pInputText name="amount" ngModel placeholder="Amount" />
    </p-inputGroup>

    <p-inputGroup class="inputGroup">
      <p-inputGroupAddon class="addOn">
        <i class="pi pi-calendar-clock"></i>
      </p-inputGroupAddon>
      <p-calendar pInputText name="date" ngModel placeholder="Date" />
    </p-inputGroup>

    <p-inputGroup class="inputGroup">
      <p-inputGroupAddon class="addOn">
        <i class="pi pi-clipboard"></i>
      </p-inputGroupAddon>
      <input pInputText name="description" ngModel placeholder="Description" />
    </p-inputGroup>

    <button class="submitBtn" type="submit" [disabled]="itemForm.invalid" >Add Item</button>
    </form>
   <div class="expense">
     <app-expenses-list [items] = "items"/>
   </div>
  
</div>
